/*index.css*/
h2 {
  color: blue;
  padding: 30px;
}

.inputForm {
  text-align: center;
  float: none;
}

.operatingRow {
  padding: 10px;
}

.operators {
  font-weight: bold;
}

#myRange {
  height: 20px;
  background: green;
  width: 40%;
  margin: 0 auto;
}

.slideContainer {
  /*margin: 0 auto;*/
}
